<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bicintime.wolf.bicintimeactivities" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCgKXy1mAqFeLr0H-NgVCCTEb3qimgQnWA" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanRouteActivity"
            android:label="@string/title_activity_plan_route" >
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".PlanRouteStartActivity"
            android:label="@string/title_activity_plan_route_start" >
        </activity>
        <activity
            android:name=".PlanRouteEndActivity"
            android:label="@string/title_activity_plan_route_end" >
        </activity>
        <activity
            android:name=".ClockActivity"
            android:label="@string/title_activity_clock" >
        </activity>
        <activity
            android:name=".PlanSelectTimeActivity"
            android:label="@string/title_activity_plan_select_time" >
        </activity>
        <activity
            android:name=".PlanFitnessActivity"
            android:label="@string/title_activity_plan_fitness" >
        </activity>
        <activity
            android:name=".RouteActivity"
            android:label="@string/title_activity_route" >
        </activity>
        <activity
            android:name=".RouteMapActivity"
            android:label="@string/title_activity_route_map" >
        </activity>
        <activity
            android:name=".RouteSelectionActivity"
            android:label="@string/title_activity_route_selection" >
        </activity>
        <activity
            android:name=".RouteStart"
            android:label="@string/title_activity_route_start" >
        </activity>
        <activity
            android:name=".RouteEnd"
            android:label="@string/title_activity_route_end" >
        </activity>
        <activity
            android:name=".TimeSelection"
            android:label="@string/title_activity_time_selection" >
        </activity>
        <activity
            android:name=".ExpListTestActivity"
            android:label="@string/title_activity_exp_list_test" >
        </activity>
    </application>

</manifest>
